@import "bootstrap/scss/functions";
@import "@universis/theme/scss/bootstrap/variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "@universis/theme/scss/coreui/_variables";

.card {
  border: none;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  min-width: 13rem;
  margin-bottom: 0;
  .card-body {
    .card-body-title {
      color: #29363d;
    }
  }
}

.grades-statbox {
  &__wrapper {
    @include media-breakpoint-up(sm)  {
      display: block;
    }
  }
}

.grades-statbox {
  /* position: relative; */
  display: flex;
  height: 185px;
  width: 185px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.grades-chart {
  position: absolute;
}

.grades-content {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%,-65%); */
}
canvas {
  z-index: 100!important;
}

.grid-divider > [class*="col-"]:nth-child(1):after {
  background-color: #c2cfd6;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  height: auto;
  right: -1px;

  @include media-breakpoint-up(sm)  {
    content: "";
  }
}
