<div class="statbox">
  <div class="card p-2">
    <div class="text-center my-3 text-gray-600">
      <span class="d-block">{{ title }}</span>
      <span class="d-block">{{ statsPeriod }}</span>
    </div>
    <div class="my-3">
      <div class="grades-statbox mx-auto">
        <canvas baseChart 
        
        [datasets]="doughnutChartDatasets" 
        [options]="doughnutChartOptions"
        [type]="doughnutChartType" 
        class="grades-chart">
        </canvas>
        <div class="grades-content text-center text-color-theme font-weight-bold px-5 mx-auto">
          <div class="row justify-content-center font-2xl">{{this.passedCourses}}/{{this.registeredCourses}}</div>
          <div class="row justify-content-center mt-n2 font-md">{{'Grades.PassedCourses' | translate}}</div>
        </div>
      </div>
    </div>

    <div class="card-body mt-n3 mx-2 text-gray-600 font-lg">
      <div class="row justify-content-between my-2">
        <div>{{ labelTotal }}</div>
        <div>{{ registeredCourses }}</div>
        <div class="d-block w-100 font-xs">{{ isTranscript ? ('Grades.Statbox.RegisteredCoursesExplanation' | translate) : '' }}</div>
      </div>
      <div class="row justify-content-between my-2">
        <div>{{ labelPassed }}</div>
        <div>{{ passedCourses }}</div>
        <div class="d-block w-100 font-xs">{{ isTranscript ? ('Grades.Statbox.PassedCoursesExplanation' | translate) : '' }}</div>
      </div>
      <div class="row justify-content-between my-2" *ngIf="totalEcts">
        <div [translate]="'Grades.Statbox.RegisteredEcts'"></div>
        <div>{{ registeredEcts }}</div>
        <div class="d-block w-100 font-xs">{{ isTranscript ? ('Grades.Statbox.RegisteredEctsExplanation' | translate) : '' }}</div>
      </div>
      <div class="row justify-content-between my-2" *ngIf="totalEcts">
        <div [translate]="'Grades.Statbox.PassedEcts'"></div>
        <div>{{ totalEcts }}</div>
        <div class="d-block w-100 font-xs">{{ isTranscript ? ('Grades.Statbox.PassedEctsExplanation' | translate) : '' }}</div>
      </div>
      <div class="row my-4">
        <div class="dropdown-divider w-100"> </div>
      </div>
      <div class="row justify-content-between my-2" *ngIf="passedGradeWeightedAverage">
        <div class="my-auto">{{ 'Grades.WeightedAverage' | translate }}
        </div>
        <div class="font-2xl">{{ passedGradeWeightedAverage }}</div>
      </div>

      <div class="row justify-content-between my-2">
        <div class="my-auto" [ngClass]="passedGradeWeightedAverage? 'font-sm' : ''"
          [translate]="'Grades.GradeSimpleAverage'"></div>
        <div [ngClass]="passedGradeWeightedAverage? '' : 'font-2xl'">{{ passedGradeSimpleAverage }}</div>
      </div>
      </div>
    </div>
  </div>
