<div class="card">
  <div class="card-body">
    <h4 class="card-title" [translate]="'ExamPeriodParticipateActions.Title.One'"></h4>
    <h5 *ngIf="department && department.departmentConfiguration && department.departmentConfiguration.examYear  && department.departmentConfiguration.examPeriod">
      {{department.departmentConfiguration.examYear?.alternateName}}  {{department.departmentConfiguration.examPeriod?.name | translate}}
    </h5>
    <div class="row" *ngIf="loading">
      <!--begin:pre-loading state-->
      <div class="ph-col-12">
        <div class="ph-row py-2">
          <div class="ph-col-8 big"></div>
        </div>
        <div class="ph-row">
          <div class="ml-lg-4 ph-col-6 big"></div>
        </div>
        <div class="ph-row">
          <div class="ml-lg-4 ph-col-10 big"></div>
        </div>
        <div class="ph-row">
          <div class="ml-lg-4 ph-col-4 big"></div>
        </div>
        <div class="ph-row">
          <div class="ml-lg-4 ph-col-6 big"></div>
        </div>
      </div>
      <!--end:pre-loading state-->
    </div>

    <ng-container *ngIf="student && student.studentStatus && student.studentStatus.alternateName !== 'active'">
      <!--begin:empty-->
      <div class="text-center">
        <div class="mt-4">
          <div class="icon-circle bg-gray-300 border-gray-100"></div>
        </div>
        <div class="mt-4">
          <h4 class="font-3xl text-dark" [translate]="'ExamPeriodParticipateActions.InvalidStatus.Title'"></h4>
          <p class="font-lg text-dark" [translate]="'ExamPeriodParticipateActions.InvalidStatus.Message'"></p>
        </div>
        <div class="mt-2">
          <a class="btn btn-indigo" [routerLink]="['/requests']" [translate]="'ExamPeriodParticipateActions.Back'"></a>
        </div>
      </div>
      <!--end:empty-->
    </ng-container>

    <div *ngIf="data && student && student.studentStatus && student.studentStatus.alternateName === 'active'" class="col-12">
      <form #f="ngForm" (ngSubmit)="submit(f)" novalidate>
        <ng-container *ngIf="data.courseExamActions && data.courseExamActions.length">

          <div class="row terms pt-3" *ngIf="terms" >
            <div class="col-12" [innerHTML]="terms"></div>
          </div>

          <!--begin:selected badge-->
          <div class="row">
            <div class="py-2 col-lg-12 text-center">
              <span class="btn btn-pill btn-indigo">{{selectionBadge}}</span>
              <button [disabled]="data.selected===data.total" (click)="selectAll()"
                class="ml-1 btn btn-pill btn-indigo">
                <i class="fa fa-check"></i>
              </button>
            </div>
          </div>
          <!--end:selected badge-->

          <div class="row">
            <div class="py-3">
              <input (change)="onAgreeChange()" [(ngModel)]="data.agree" name="agree"
                class="checkbox checkbox-indigo" type="checkbox" id="agree" />
              <label for="agree" class="font-weight-bold" [translate]="'ExamPeriodParticipateActions.Agree'"></label>
            </div>
          </div>
          <!--begin:courses-->
          <div>
            <div class="row ml-lg-2 ml-md-2" *ngFor="let courseExamAction of data.courseExamActions;let i=index;">
              <div class="py-3">
                <input (change)="onSelectionChange($event)" [disabled]="!data.agree"
                  [(ngModel)]="courseExamAction.agree" name="courseExamAction[{{i}}]" class="checkbox checkbox-indigo"
                  type="checkbox" id="courseExamAction[{{i}}]" />
                <label for="courseExamAction[{{i}}]">
                  <h5 class="font-weight-normal">
                    {{courseExamAction.courseExam.course.displayCode}} {{courseExamAction.courseExam.course.name}}
                  </h5>
                  <div>
                    {{courseExamAction.courseExam.year.name}} {{courseExamAction.courseExam.examPeriod.name}}
                    <span
                      *ngIf="courseExamAction.courseExam.examDate">{{courseExamAction.courseExam.examDate | date: 'shortDate'}}</span>
                    <span *ngIf="courseExamAction.courseExam.examDate == null">
                      <i [translate]="'ExamPeriodParticipateActions.NoExamDate'"></i>
                    </span>
                  </div>
                  <div class="pt-1" *ngIf="courseExamAction.courseExam.types && courseExamAction.courseExam.types.length" >
                    {{'ExamPeriodParticipateActions.TestTypes' | translate}}:
                    <ng-container *ngFor="let testType of courseExamAction.courseExam.types; let isLast=last">
                         {{testType.name}}{{isLast ? '' : ', '}}
                      </ng-container>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <!--end:courses-->
          <div class="row">
            <div class="py-3">
              <input [(ngModel)]="data.reject" (change)="onRejectChange($event)" name="reject"
                class="checkbox checkbox-indigo" type="checkbox" id="reject" />
              <label for="reject" class="font-weight-bold" [translate]="'ExamPeriodParticipateActions.NotAgree'"></label>
            </div>
          </div>
          <div class="row">
            <div class="py-2">
              <button
                [disabled]="(data.agree === false && data.reject === false) || (data.agree === true && data.selected === 0)"
                class="btn btn-indigo" [translate]="'ExamPeriodParticipateActions.Submit'"></button>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="invalidConfiguration == false && data.courseExamActions && data.courseExamActions.length === 0">
            <!--begin:empty-->
              <div class="text-center">
                <div class="mt-4">
                  <div class="icon-circle bg-gray-300 border-gray-100"></div>
                </div>
                <div class="mt-4">
                  <h4 class="font-3xl text-dark" [translate]="'ExamPeriodParticipateActions.NoData.Title'"></h4>
                  <p class="font-lg text-dark" [translate]="'ExamPeriodParticipateActions.NoData.Message'"></p>
                </div>
                <div class="mt-2">
                  <a class="btn btn-indigo" [routerLink]="['/requests']" [translate]="'ExamPeriodParticipateActions.Back'"></a>
                </div>
              </div>
            <!--end:empty-->
        </ng-container>
        <ng-container *ngIf="invalidConfiguration">
          <!--begin:empty-->
            <div class="text-center">
              <div class="mt-4">
                <div class="icon-circle bg-gray-300 border-gray-100"></div>
              </div>
              <div class="mt-4">
                <h4 class="font-3xl text-dark" [translate]="'ExamPeriodParticipateActions.InvalidConfiguration.Title'"></h4>
                <p class="font-lg text-dark" [translate]="'ExamPeriodParticipateActions.InvalidConfiguration.Message'"></p>
              </div>
              <div class="mt-2">
                <a class="btn btn-indigo" [routerLink]="['/requests']" [translate]="'ExamPeriodParticipateActions.Back'"></a>
              </div>
            </div>
          <!--end:empty-->
      </ng-container>
      <!--begin:invalid period-->
      <ng-container *ngIf="invalidPeriod">
          <div class="text-center">
            <div class="mt-4">
              <div class="icon-circle bg-gray-300 border-gray-100"></div>
            </div>
            <div class="mt-4">
              <h4 class="font-3xl text-dark" [translate]="'ExamPeriodParticipateActions.InvalidPeriod.Title'"></h4>
              <p class="font-lg text-dark">
                <span [translate]="'ExamPeriodParticipateActions.InvalidPeriod.Message'"></span>
                  <span *ngIf="department.departmentConfiguration.examParticipationPeriodStart && department.departmentConfiguration.examParticipationPeriodEnd">
                   <h6 class="mt-1"> ({{'ExamPeriodParticipateActions.InvalidPeriod.FromTo' | translate: department.departmentConfiguration}})</h6>
                  </span>
                  <span *ngIf="department.departmentConfiguration.examParticipationPeriodStart == null && department.departmentConfiguration.examParticipationPeriodEnd">
                    ({{'ExamPeriodParticipateActions.InvalidPeriod.To' | translate: department.departmentConfiguration}})
                  </span>
                  <span *ngIf="department.departmentConfiguration.examParticipationPeriodStart && department.departmentConfiguration.examParticipationPeriodEnd == null">
                    ({{'ExamPeriodParticipateActions.InvalidPeriod.From' | translate: department.departmentConfiguration}})
                  </span>
              </p>
            </div>
            <div class="mt-2">
              <a class="btn btn-indigo" [routerLink]="['/requests']" [translate]="'ExamPeriodParticipateActions.Back'"></a>
            </div>
          </div>
    </ng-container>
    <!--end:invalid period-->
      </form>
    </div>
  </div>
</div>
